@import "tailwindcss";

body {
  background: #050014;
}

.overlay {
  background-image: url("/images/BG.png");
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
